html {
  box-sizing: border-box;
  font-size: 62.5%;
  height: 100%;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  margin: 0;
  height: 100%;
  font-size: 1.6rem;
  line-height: 1.4;
  font-weight: 400;
  font-family: "Open Sans", sans-serif;
  background-color: var(--white);
  color: var(--black);
}

ul {
  list-style: none;
}

ol,
ul,
figure,
figcaption,
blockquote {
  margin: 0px;
  padding: 0px;
}

p,
li,
h1,
h2,
h3,
h4,
h5,
h6,
label,
blockquote,
cite {
  font: inherit;
  margin: 0;
  padding: 0;
  letter-spacing: inherit;
}

img {
  max-width: 100%;
  display: block;
}

textarea,
select,
input,
button {
  border: none;
  background-color: transparent;
  font: inherit;
  padding: 0;
  margin: 0;
  letter-spacing: inherit;
}

button {
  cursor: pointer;
  color: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

textarea {
  resize: vertical;
}


html {
  height: 100%;
  font-size: 62.5%;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  overflow: hidden;
}

.main {
  flex: 1 0 auto;
}

.footer {
  flex: 0 0 auto;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.container {
  max-width: 123rem;
  margin: 0 auto;
  padding: 0 1.5rem;
}

:root {
  --black: #000000;
  --white: #ffffff;
}